*.docx
*.pdf
kNN-Species/
kNN-StructureStandVolume/
kNN-Species.tar
kNN-StructureStandVolume.tar
NFI_MODIS250m_kNN_Species_*
NFI_MODIS250m_kNN_Structure_Stand_Age_*
NFI_MODIS250m_kNN_Structure_Volume_Total*
Yemshanov_pine_map*
